<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Japoul-Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>

    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}">
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
    <!-- Bootstrap -->
    <link href="admin/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="admin/css/vendor/animate/animate.min.css">
    <link type="text/css" rel="stylesheet" media="all" href="admin/js/vendor/mmenu/css/jquery.mmenu.all.css"/>
    <link rel="stylesheet" href="admin/js/vendor/videobackground/css/jquery.videobackground.css">
    <link rel="stylesheet" href="admin/css/vendor/bootstrap-checkbox.css">

    <link rel="stylesheet" href="admin/js/vendor/rickshaw/css/rickshaw.min.css">
    <link rel="stylesheet" href="admin/js/vendor/morris/css/morris.css">
    <link rel="stylesheet" href="admin/js/vendor/tabdrop/css/tabdrop.css">
    <link rel="stylesheet" href="admin/js/vendor/summernote/css/summernote.css">
    <link rel="stylesheet" href="admin/js/vendor/summernote/css/summernote-bs3.css">
    <link rel="stylesheet" href="admin/js/vendor/chosen/css/chosen.min.css">
    <link rel="stylesheet" href="admin/js/vendor/chosen/css/chosen-bootstrap.css">

    <link href="admin/css/minimal.css" rel="stylesheet">

</head>
<body class="bg-1">
<!-- Preloader -->
<div class="mask">
    <div id="loader"></div>
</div>

<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Make page fluid -->
    <div class="row">
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top" role="navigation"
             id="navbar">
            <!-- Branding -->
            <div class="navbar-header col-md-2">
                <a class="navbar-brand" href="index.html">
                    <strong>AJIN</strong>plus+
                </a>
                <div class="sidebar-collapse">
                    <a href="#">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <!-- .nav-collapse -->
            <div class="navbar-collapse">

                <!-- Page refresh -->
                <ul class="nav navbar-nav refresh">
                    <li class="divided">
                        <a href="#" class="page-refresh"><i class="fa fa-refresh"></i></a>
                    </li>
                </ul>
                <!-- /Page refresh -->

                <!-- Search -->
                <div class="search" id="main-search">
                    <i class="fa fa-search"></i> <input type="text" placeholder="Search...">
                </div>
                <!-- Search end -->

                <!-- Quick Actions -->
                <ul class="nav navbar-nav quick-actions">
                    <li class="dropdown divided">

                        <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-transparent-black">3</span>
                        </a>

                        <ul class="dropdown-menu wide arrow nopadding bordered">
                            <li><h1>你有<strong>3</strong> 个代办事项</h1></li>

                            <li>
                                <a href="#">
                                    <span class="label label-green"><i class="fa fa-bookmark"></i></span>
                                    Spring Boot 大作业编写
                                    <span class="small">18 分钟前</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <span class="label label-red"><i class="fa fa-bookmark"></i></span>
                                    数据可视化作业
                                    <span class="small">27 分钟前</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <span class="label label-orange"><i class="fa fa-plus"></i></span>
                                    打打游戏
                                    <span class="small">36 分钟前</span>
                                </a>
                            </li>

                            <li><a href="#">更多通知 <i class="fa fa-angle-right"></i></a></li>
                        </ul>

                    </li>

                    <li class="dropdown divided user" id="current-user">
                        <!-- <div class="profile-photo">
                          <img src="admin/images/profile-photo.jpg" alt />
                        </div> -->
                        <a class="dropdown-toggle options" data-toggle="dropdown" href="#">
                            <span th:text=${session.user.name}></span> <i class="fa fa-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu arrow settings">

                            <li>

                                <h3>皮肤:</h3>
                                <ul id="color-schemes">
                                    <li><a href="#" class="bg-1"></a></li>
                                    <li><a href="#" class="bg-2"></a></li>
                                    <li><a href="#" class="bg-3"></a></li>
                                    <li><a href="#" class="bg-4"></a></li>
                                    <li><a href="#" class="bg-5"></a></li>
                                    <li><a href="#" class="bg-6"></a></li>
                                </ul>

                                <div class="form-group videobg-check">
                                    <label class="col-xs-8 control-label">个人管理</label>
                                    <div class="col-xs-4 control-label">
                                        <div class="onoffswitch greensea small">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                   id="videobg-check">
                                            <label class="onoffswitch-label" for="videobg-check">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="#"><i class="fa fa-user"></i> 个人信息</a>
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-edit"></i> 修改密码</a>
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-envelope"></i> 邮件 <span class="badge badge-red"
                                                                                    id="user-inbox">3</span></a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a th:href="@{/logout}"><i class="fa fa-power-off"></i> 退出登录</a>
                            </li>
                            <li>
                                <a href="#mmenu"><i class="fa fa-comments"></i></a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a><i class="fa fa-comments"></i></a>
                    </li>
                </ul>
                <!-- /Quick Actions -->


                <!-- Sidebar -->
                <ul class="nav navbar-nav side-nav" id="sidebar">

                    <li class="collapsed-content">
                        <ul>
                            <li class="search"><!-- Collapsed search pasting here at 768px --></li>
                        </ul>
                    </li>

                    <li class="navigation" id="navigation">
                        <a href="#" class="sidebar-toggle" data-toggle="#navigation">基础管理 <i class="fa fa-angle-up"></i></a>

                        <ul class="menu">

                            <li class="active">
                                <a th:href="@{/index}">
                                    <i class="fa fa-area-chart"></i> 数据统计（模拟）
                                </a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bookmark-o"></i> 任务管理 <b class="fa fa-plus dropdown-plus"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a th:href="@{/immediateTasks}">
                                            <i class="fa fa-caret-right"></i> 近期任务
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/overTasks}">
                                            <i class="fa fa-caret-right"></i> 已完成任务
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a th:href="@{/}">
                                    <i class="fa fa-bicycle"></i> 首页
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="navigation" id="order-summary">
                        <a href="#" class="sidebar-toggle underline" data-toggle="#order-summary">其他管理<i
                                class="fa fa-angle-up"></i></a>

                        <ul class="menu">
                            <li>
                                <a th:href="@{/index}">
                                    <i class="fa fa-cloud"></i> 云收藏
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar end -->
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- Fixed navbar end -->

        <!-- Page content -->
        <div id="content" class="col-md-12">
            <!-- page header -->
            <div class="pageheader">
                <h2><i class="fa fa-area-chart"></i> 数据统计（模拟）
                    <span>/  模拟的数据图表</span></h2>


                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li>基础管理</li>
                        <li><a th:href="@{/index}">数据统计（模拟）</a></li>
                    </ol>
                </div>
            </div>
            <!-- /page header -->
            <!-- content main container -->
            <div class="main">
                <!-- cards -->
                <div class="row cards">
                    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                        <div class="card card-redbrown hover">
                            <div class="front">
                                <div class="media">
                      <span class="pull-left">
                        <i class="fa fa-users media-object"></i>
                      </span>

                                    <div class="media-body">
                                        <small>注册用户数</small>
                                        <h2 class="media-heading animate-number" data-value="3659"
                                            data-animation-duration="1500">0</h2>
                                    </div>
                                </div>

                                <div class="progress-list">
                                    <div class="details">
                                        <div class="title">本月同比增长 %</div>
                                    </div>
                                    <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="74"
                                              data-animation-duration="1500">0</span>%
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="83%"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="back">
                                <a href="#">
                                    <i class="fa fa-bar-chart-o fa-4x"></i>
                                    <span>详细统计</span>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                        <div class="card card-blue hover">
                            <div class="front">

                                <div class="media">
                      <span class="pull-left">
                        <i class="fa fa-arrow-circle-o-up media-object"></i>
                      </span>

                                    <div class="media-body">
                                        <small>计划增长量</small>
                                        <h2 class="media-heading animate-number" data-value="19214"
                                            data-animation-duration="1500">0</h2>
                                    </div>
                                </div>

                                <div class="progress-list">
                                    <div class="details">
                                        <div class="title">本月同比增长 %</div>
                                    </div>
                                    <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="100"
                                              data-animation-duration="1500">0</span>%
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="back">
                                <a href="#">
                                    <i class="fa fa-bar-chart-o fa-4x"></i>
                                    <span>详细统计</span>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                        <div class="card card-greensea hover">
                            <div class="front">

                                <div class="media">
                      <span class="pull-left">
                        <i class="fa fa-handshake-o media-object"></i>
                      </span>

                                    <div class="media-body">
                                        <small>友情链接数</small>
                                        <h2 class="media-heading animate-number" data-value="169541"
                                            data-animation-duration="1500">0</h2>
                                    </div>
                                </div>

                                <div class="progress-list">
                                    <div class="details">
                                        <div class="title">本月同比增长 %</div>
                                    </div>
                                    <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="42"
                                              data-animation-duration="1500">0</span>%
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="42%"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="back">
                                <a href="#">
                                    <i class="fa fa-bar-chart-o fa-4x"></i>
                                    <span>详细统计</span>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="card-container col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-slategray hover">
                            <div class="front">

                                <div class="media">
                      <span class="pull-left">
                        <i class="fa fa-eye media-object"></i>
                      </span>

                                    <div class="media-body">
                                        <small>日访问量</small>
                                        <h2 class="media-heading animate-number" data-value="9634"
                                            data-animation-duration="1500">0</h2>
                                    </div>
                                </div>

                                <div class="progress-list">
                                    <div class="details">
                                        <div class="title">本月同比增长 %</div>
                                    </div>
                                    <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="25"
                                              data-animation-duration="1500">0</span>%
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="25%"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="back">
                                <a href="#">
                                    <i class="fa fa-bar-chart-o fa-4x"></i>
                                    <span>详细统计</span>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /cards -->
                <!-- row -->
                <div class="row">
                    <!-- col 8 -->
                    <div class="col-lg-8 col-md-12">
                        <!-- tile -->
                        <section class="tile transparent">
                            <!-- tile header -->
                            <div class="tile-header color transparent-black textured rounded-top-corners">
                                <h1><strong>静态</strong> 图表</h1>
                                <div class="controls">
                                    <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                    <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <!-- /tile header -->


                            <!-- tile widget -->
                            <div class="tile-widget color transparent-black textured">
                                <div id="statistics-chart" class="chart statistics" style="height: 250px;"></div>
                            </div>
                            <!-- /tile widget -->

                        </section>
                        <!-- /tile -->
                    </div>
                    <!-- /col 8 -->


                    <!-- col 4 -->
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <!-- tile -->
                        <section class="tile color transparent-black textured">
                            <!-- tile header -->
                            <div class="tile-header">
                                <h1><strong>服务器</strong> 内存使用率</h1>
                                <div class="controls">
                                    <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                    <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <!-- /tile header -->

                            <!-- tile widget -->
                            <div class="tile-widget">

                                <div class="progress-list with-heading">
                                    <div class="details">
                                        <div class="title"><h2><i class="fa fa-hdd-o"></i> <span class="animate-number"
                                                                                                 data-value="394"
                                                                                                 data-animation-duration="1600">0</span>
                                            GB</h2></div>
                                    </div>
                                    <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="42"
                                              data-animation-duration="1500">0</span>%
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="progress progress-little progress-transparent-black"
                                         style="margin-bottom: 5px">
                                        <div class="progress-bar animate-progress-bar" data-percentage="42%"></div>
                                    </div>
                                </div>
                                <p class="description"><strong>394GB</strong> used of <strong
                                        class="white-text">2,048GB</strong> on File Server</p>
                            </div>
                            <!-- /tile widget -->
                            <!-- tile body -->
                            <div class="tile-body paddingtop">
                                <div id="serverload-chart"></div>
                            </div>
                            <!-- /tile body -->
                        </section>
                        <!-- /tile -->
                    </div>
                </div><!-- tab-pane -->
            </div><!-- tab-content -->
        </div>
    </div>
    <!-- Make page fluid-->
</div>
<!-- Wrap all page content end -->
<section class="videocontent" id="video"></section>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="admin/js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="admin/js/vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="admin/js/vendor/mmenu/js/jquery.mmenu.min.js"></script>
<script type="text/javascript" src="admin/js/vendor/sparkline/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="admin/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="admin/js/vendor/animate-numbers/jquery.animateNumbers.js"></script>
<script type="text/javascript" src="admin/js/vendor/videobackground/jquery.videobackground.js"></script>
<script type="text/javascript" src="admin/js/vendor/blockui/jquery.blockUI.js"></script>
<script src="admin/js/vendor/flot/jquery.flot.min.js"></script>
<script src="admin/js/vendor/flot/jquery.flot.time.min.js"></script>
<script src="admin/js/vendor/flot/jquery.flot.selection.min.js"></script>
<script src="admin/js/vendor/flot/jquery.flot.animator.min.js"></script>
<script src="admin/js/vendor/flot/jquery.flot.orderBars.js"></script>
<script src="admin/js/vendor/easypiechart/jquery.easypiechart.min.js"></script>
<script src="admin/js/vendor/rickshaw/raphael-min.js"></script>
<script src="admin/js/vendor/rickshaw/d3.v2.js"></script>
<script src="admin/js/vendor/rickshaw/rickshaw.min.js"></script>
<script src="admin/js/vendor/morris/morris.min.js"></script>
<script src="admin/js/vendor/tabdrop/bootstrap-tabdrop.min.js"></script>
<script src="admin/js/vendor/summernote/summernote.min.js"></script>
<script src="admin/js/vendor/chosen/chosen.jquery.min.js"></script>
<script src="admin/js/minimal.min.js"></script>
<script>
    $(function () {

        // Initialize card flip
        $('.card.hover').hover(function () {
            $(this).addClass('flip');
        }, function () {
            $(this).removeClass('flip');
        });

        // Initialize flot chart
        var d1 = [[1, 715],
            [2, 985],
            [3, 1525],
            [4, 1254],
            [5, 1861],
            [6, 2621],
            [7, 1987],
            [8, 2136],
            [9, 2364],
            [10, 2851],
            [11, 1546],
            [12, 2541]
        ];
        var d2 = [[1, 463],
            [2, 578],
            [3, 327],
            [4, 984],
            [5, 1268],
            [6, 1684],
            [7, 1425],
            [8, 1233],
            [9, 1354],
            [10, 1200],
            [11, 1260],
            [12, 1320]
        ];
        var months = ["January", "February", "March", "April", "May", "Juny", "July", "August", "September", "October", "November", "December"];

        // flot chart generate
        var plot = $.plotAnimator($("#statistics-chart"),
            [
                {
                    label: '注册数',
                    data: d1,
                    lines: {lineWidth: 3},
                    shadowSize: 0,
                    color: '#ffffff'
                },
                {
                    label: "访问数",
                    data: d2,
                    animator: {steps: 99, duration: 500, start: 200, direction: "right"},
                    lines: {
                        fill: .15,
                        lineWidth: 0
                    },
                    color: ['#ffffff']
                }, {
                label: '注册数',
                data: d1,
                points: {show: true, fill: true, radius: 6, fillColor: "rgba(0,0,0,.5)", lineWidth: 2},
                color: '#fff',
                shadowSize: 0
            },
                {
                    label: "访问数",
                    data: d2,
                    points: {show: true, fill: true, radius: 6, fillColor: "rgba(255,255,255,.2)", lineWidth: 2},
                    color: '#fff',
                    shadowSize: 0
                }
            ], {

                xaxis: {

                    tickLength: 0,
                    tickDecimals: 0,
                    min: 1,
                    ticks: [[1, "JAN"], [2, "FEB"], [3, "MAR"], [4, "APR"], [5, "MAY"], [6, "JUN"], [7, "JUL"], [8, "AUG"], [9, "SEP"], [10, "OCT"], [11, "NOV"], [12, "DEC"]],

                    font: {
                        lineHeight: 24,
                        weight: "300",
                        color: "#ffffff",
                        size: 14
                    }
                },

                yaxis: {
                    ticks: 4,
                    tickDecimals: 0,
                    tickColor: "rgba(255,255,255,.3)",

                    font: {
                        lineHeight: 13,
                        weight: "300",
                        color: "#ffffff"
                    }
                },

                grid: {
                    borderWidth: {
                        top: 0,
                        right: 0,
                        bottom: 1,
                        left: 1
                    },
                    borderColor: 'rgba(255,255,255,.3)',
                    margin: 0,
                    minBorderMargin: 0,
                    labelMargin: 20,
                    hoverable: true,
                    clickable: true,
                    mouseActiveRadius: 6
                },

                legend: {show: false}
            });

        $(window).resize(function () {
            // redraw the graph in the correctly sized div
            plot.resize();
            plot.setupGrid();
            plot.draw();
        });

        $('#mmenu').on(
            "opened.mm",
            function () {
                // redraw the graph in the correctly sized div
                plot.resize();
                plot.setupGrid();
                plot.draw();
            }
        );

        $('#mmenu').on(
            "closed.mm",
            function () {
                // redraw the graph in the correctly sized div
                plot.resize();
                plot.setupGrid();
                plot.draw();
            }
        );


        //server load rickshaw chart
        var graph;

        var seriesData = [[], []];
        var random = new Rickshaw.Fixtures.RandomData(50);

        for (var i = 0; i < 50; i++) {
            random.addData(seriesData);
        }

        graph = new Rickshaw.Graph({
            element: document.querySelector("#serverload-chart"),
            height: 150,
            renderer: 'area',
            series: [
                {
                    data: seriesData[0],
                    color: '#6e6e6e',
                    name: 'File Server'
                }, {
                    data: seriesData[1],
                    color: '#fff',
                    name: 'Mail Server'
                }
            ]
        });

        var hoverDetail = new Rickshaw.Graph.HoverDetail({
            graph: graph,
        });

        setInterval(function () {
            random.removeData(seriesData);
            random.addData(seriesData);
            graph.update();

        }, 1000);

    })
</script>

</body>
</html>
      
