<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}">
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Welcom By Japoul</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link th:href="@{/css/Montserrat.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <!-- CSS Files -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/now-ui-kit.css?v=1.1.0}" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link th:href="@{/css/demo.css}" rel="stylesheet"/>
    <link th:href="@{/css/toastr.min.css}" rel="stylesheet"/>
    <!-- Canonical SEO -->
    <link rel="canonical" href=""/>
    <!--  Social tags      -->
    <meta name="keywords" content="Japoul/刘传锦">
    <meta name="description" content="刘传锦的主页">
</head>

<body class="login-page sidebar-collapse">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
    <div class="container">
        <div class="dropdown button-dropdown">
            <a href="#" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                <span class="button-bar"></span>
                <span class="button-bar"></span>
                <span class="button-bar"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-header">MENU</a>
                <a class="dropdown-item" href="#">文章</a>
                <a class="dropdown-item" href="#">博客</a>
                <a class="dropdown-item" th:href="@{/index}">首页</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">友链</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">更多链接</a>
            </div>
        </div>
        <div class="navbar-translate">
            <a class="navbar-brand" href="#" rel="tooltip" data-placement="bottom">
                More Of Japoul
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" data-nav-image="/img/blurred-image-1.jpg">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">2019 Spring Boot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">联系我 QQ：1157464268</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="#"
                       target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none d-xl-none">Instagram</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img th:src="@{/img/logo2.png}" alt="">
                        </div>
                    </div>
                    <div class="content">
                        <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                            <input type="text" id="userName" name="userName" class="form-control"
                                   placeholder="在这里输入你的凭证名">
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons text_caps-small"></i>
                                </span>
                            <input type="Password" id="password" name="password" placeholder="核验身份KEY"
                                   class="form-control"/>
                        </div>

                    </div>
                    <div class="footer text-center">
                        <button id="sub" class="btn btn-primary btn-round btn-lg btn-block">进入管理模式</button>
                    </div>
                    <div class="pull-left">
                        <h6>
                            <a href="#" class="link">注册用户</a>
                        </h6>
                    </div>
                    <div class="pull-right">
                        <h6>
                            <a href="#" class="link">帮助</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            关于我
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            博客
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">

            </div>
        </div>
    </footer>
</div>
</body>
<!--   Core JS Files   -->

<script th:src="@{/js/toastr.min.js}"></script>
<script th:src="@{/js/core/jquery.3.2.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/core/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/js/core/bootstrap.min.js}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script th:src="@{/js/plugins/bootstrap-switch.js}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script th:src="@{/js/plugins/nouislider.min.js}" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script th:src="@{/js/plugins/bootstrap-datepicker.js}" type="text/javascript"></script>
<!-- Share Library etc -->
<script th:src="@{/js/plugins/jquery.sharrre.js}" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script th:src="@{/js/now-ui-kit.js?v=1.1.0}" type="text/javascript"></script>
<script>
    toastr.options.positionClass = 'toast-top-center';

    $("#sub").click(function () {
        var userName = $("userName").val();
        var password = $("password").val();
        var pattern = new RegExp("[`~!@#$%^=()*&|{}:;',\\[\\].<>/?#￥]");
        if (userName === "".trim() || userName == null || password === "" || password == null
            || userName.match(pattern) || password.match(pattern)) {
            console.log("error!!!!");
            toastr.error("1");
        } else {
            $.ajax({
                type: "POST",
                url: "/loginUser",
                dataType: "json",
                data: {
                    userName: userName,
                    password: password
                },
                success: function (data) {
                    if (data.status == true) {
                        window.location.href = "/admin"
                    }
                }


            })
        }
    });
</script>
</html>